@import url(https://fonts.googleapis.com/icon?family=Material+Icons);@import url(https://fonts.googleapis.com/css?family=Palanquin:100,200,300,400,500,600,700);.background-image {
  background-image: url("/img/site/login_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity {
  background: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  opacity: .8;
}

.plan-min-height {
  min-height: 200px;
}

.collection .kanban-item {
  cursor: move;
}

